.pampwrap {
  width: 90rem;
  height: 50rem;
  border: 1px solid orangered;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.pampwrap-img1 {
  width: 20rem;
  height: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, rgba(255, 100, 0, 0.75), orange); }
  .pampwrap-img1::before {
    content: "";
    display: inline-block;
    border-right: 1px solid black;
    border-radius: 46%;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 12%;
    opacity: .2;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3) inset; }
  .pampwrap-img1::after {
    content: "";
    display: inline-block;
    border-left: 1px solid black;
    border-radius: 46%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 12%;
    opacity: .2;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3) inset; }
  .pampwrap-img1__top {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -8%;
    left: 44%;
    background-image: linear-gradient(to bottom, darkgreen, #ff6400);
    border-radius: 18px 2px 9px 3px; }
  .pampwrap-img1__eyeright {
    width: 4rem;
    height: 4rem;
    background-color: #000;
    position: absolute;
    top: 4rem;
    left: 4rem;
    -webkit-clip-path: polygon(0% 97%, 0% 100%, 3% 91%, 53% 60%, 100% 4%, 91% 84%);
    clip-path: polygon(0% 97%, 0% 100%, 3% 91%, 53% 60%, 100% 4%, 91% 84%);
    transform: rotateY(180deg);
    border-radius: 100% 67% 102% 5%;
    box-shadow: 1px 0px 1px 7px orangered inset; }
  .pampwrap-img1__eyeleft {
    width: 4rem;
    height: 4rem;
    position: absolute;
    background-color: #000;
    top: 4rem;
    right: 4rem;
    -webkit-clip-path: polygon(0% 97%, 0% 100%, 3% 91%, 53% 60%, 100% 4%, 91% 84%);
    clip-path: polygon(0% 97%, 0% 100%, 3% 91%, 53% 60%, 100% 4%, 91% 84%);
    border-radius: 100% 67% 102% 5%;
    box-shadow: 1px 0px 1px 7px orangered inset; }
  .pampwrap-img1__nose {
    width: 3rem;
    height: 3rem;
    position: absolute;
    background-color: #000;
    top: 9rem;
    left: 8.4rem;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 96%, 50% 10%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 96%, 50% 10%);
    border-radius: 56% 50% 50% 50%;
    box-shadow: 0px -2px 3px 3px orangered inset; }
  .pampwrap-img1__mouth {
    width: 8rem;
    height: 7.5rem;
    background-color: #000;
    position: absolute;
    top: 65%;
    left: 30%;
    border-radius: 13% 5% 50% 50%;
    /* -webkit-clip-path: polygon(61% 26%, 50% 24%, 100% 8%, 100% 70%, 89% 47%, 9% 47%, 0% 70%, 0 9%); */
    clip-path: polygon(61% 26%, 49% 24%, 100% 8%, 100% 70%, 89% 47%, 9% 47%, 0% 70%, 0 9%);
    box-shadow: 0px -1px 6px 5px orangered inset; }

.tothwrap {
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  /*&__toth4{
    width: 1rem;
    height: 1rem;
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    right: 10%;
  }
  */ }
  .tothwrap__toth1 {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 7%;
    left: 18%;
    background-image: linear-gradient(to top, orange, rgba(255, 69, 0, 0.79));
    box-shadow: 0px -1px 6px 5px orangered inset;
    -webkit-clip-path: polygon(52% 100%, 0 0, 100% 0);
    clip-path: polygon(29% 100%, 0 0, 100% 0);
    border-radius: 47% 47% 59% 58%; }
  .tothwrap__toth2 {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 7%;
    right: 18%;
    background-image: linear-gradient(to top, orange, rgba(255, 69, 0, 0.79));
    box-shadow: 0px -1px 6px 5px orangered inset;
    -webkit-clip-path: polygon(52% 100%, 0 0, 100% 0);
    clip-path: polygon(83% 100%, 0 0, 100% 0);
    border-radius: 47% 47% 59% 58%; }
  .tothwrap__toth3 {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 31%;
    left: 42%;
    background-image: linear-gradient(to bottom, orange, rgba(255, 69, 0, 0.79));
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.contwrap {
  background-color: #eee;
  width: 100%;
  height: 100vh; }
