.pampwrap{
  width: 90rem;
  height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.second-wrap {
  width: 80rem;
  height: 15rem;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}